<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>Írd be a neved és az életkorod!</h1>
    <form method="get" action="/person/welcome">
        <label>Név</label>
        <br />
        <input type="text" name="name" />
        <br />

        <label>Életkor</label>
        <br />
        <input type="number" name="age" />
        <br />

        <input type="submit" value="Elküld" />
    </form>
</body>
</html>
